name: Check It All
permissions:
  contents: read

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  lint-format:
    name: Lint and format code
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Set up Node.js 20
        uses: actions/setup-node@v3
        with:
          node-version: "20"

      - name: Install dependencies
        run: npm ci

      - name: Lint /src/
        run: npx eslint "src/**/*.{js,ts}" --max-warnings=0

      - name: Lint /docs/
        run: npx eslint "docs/**/*.{js,ts,jsx,tsx}" --max-warnings=0 || echo "No JS/TS files to lint in /docs/"

      - name: Format with Prettier
        run: npx prettier --check "src/**/*.{js,ts,json,css,md}" "docs/**/*.{js,ts,jsx,tsx,json,css,md}"

      - name: Format with Prettier
        if: ${{ github.event_name == 'workflow_dispatch' }}
        run: npx prettier --write "src/**/*.{js,ts,json,css,md}" "docs/**/*.{js,ts,jsx,tsx,json,css,md}"
